RewriteEngine on

#RewriteBase /~rpage/archive/
RewriteBase /bionames-archive/

RedirectMatch 404 /\.git

#---------------------------------------------------------------------------------------------------
# DocumentCloud PDF

# Next rule uses QSA flag so that JSONP with ?callback= parameter will still work
# see http://stackoverflow.com/questions/822421/match-question-mark-in-mod-rewrite-rule-regex

RewriteRule ^documentcloud/pages/(.*)/([0-9]+)-([a-z]+)$	dcp.php?sha1=$1&page=$2&size=$3		[QSA,L]
RewriteRule ^documentcloud/pages/(.*)/([0-9]+)$				dcp.php?sha1=$1&page=$2				[QSA,L]

RewriteRule ^documentcloud/(.*).json						dc.php?sha1=$1						[QSA,L]
